{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 150,
  "tabWidth": 3,
  "semi": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 200
      }
    }
  ],
  "plugins": [
    "prettier-plugin-svelte"
  ],
  "svelteSortOrder": "styles-scripts-markup",
  "svelteStrictMode": false,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": false,
  "svelteIndentScriptAndStyle": false,
  "svelteIndentScript": false,
  "svelteIndentStyle": false
}